<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class=" is-mobile">
  {{range .payload }}
  <div class="box column is-three-fifths is-offset-one-fifth">
    <article class="media">
      <div class="media-left">
        <a href="/u/view/{{.ID}}">
          <figure class="image is-64x64">
            <img class="is-rounded" src="https://avatars.dicebear.com/4.5/api/avataaars/{{.Avatar}}.svg" alt="Image">
          </figure>
        </a>
        
      </div>
      <div class="media-content">
        <div class="content">
          <div class="level">
            <div class="level-left ">
              <a href="/u/view/{{.ID}}"><strong class="title is-5 is-family-monospace">{{.Username}}</strong></a>
            </div>
            <div class="level-right ">
              {{if ge .Km 100.0 }}
              {{if ge .Km 200.0 }}
              <span class="tag is-warning ml-2">{{ printf "%.1f" .Km}} km</span>
              <span class="tag is-warning is-light is-medium ml-2"><i class="fas fa-award"></i></span>
              {{else}}
              <span class="tag is-success ml-2">{{ printf "%.1f" .Km}} km</span>
              <span class="tag is-warning is-light is-medium ml-2"><i class="fas fa-award"></i></span>
              {{end}}
              {{ else}}
              <span class="tag is-info ml-2">{{printf "%.1f" .Km}} km</span>
              {{end}}
            </div>
          </div>

        </div>

        {{if ge .Km 100.0 }}
        {{if ge .Km 200.0 }}
        <progress class="progress is-warning" value="{{.Km - 200}}" max="300">{{printf "%.1f" .Km}}%</progress>
        {{else}}
        <progress class="progress is-success" value="{{.Km - 100}}" max="200">{{printf "%.1f" .Km}}%</progress>
        {{end}}
        {{else}}
        <progress class="progress is-info" value="{{.Km}}" max="100">{{printf "%.1f" .Km}}%</progress>
        {{end}}
      </div>
    </article>
  </div>
  {{end}}
</div>




<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}