<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Home
      </a>

      {{ if not .is_logged_in}}
      <a href="/trip/all" class="navbar-item">
        Feed
      </a>

      {{ else }}
      <div class="navbar-item has-dropdown is-hoverable">
        <a href="/trip/all" class="navbar-link">
          Trips
        </a>
        <div class="navbar-dropdown">
          <a href="/trip/all" class="navbar-item">
            All trips
          </a>
          <a href="/u/trips" class="navbar-item">
            My trips
          </a>
          <a href="/trip/create" class="navbar-item">
            Create
          </a>
          <hr class="navbar-divider">
          <a href="https://github.com/ondrejholik/springkilometers/issues/new" class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
      <a href="/achievments" class="navbar-item">Achievments</a>
      {{end}}

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        {{if not .is_logged_in}}
        <div class="buttons">
          <a href="/u/register" class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a href="/u/login" class="button is-light">
            Log in
          </a>
        </div>
        {{else}}
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/u/settings" class="navbar-link">
            <i class="fas fa-user"></i>
          </a>
          <div class="navbar-dropdown">
            <a href="/u/settings" class="navbar-item">
              <i class="fas fa-cog"></i> Settings
            </a>
            <a href="/u/logout" class="navbar-item button is-danger is-light">
              <i class="fas fa-sign-out-alt"></i> Log out
            </a>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</nav>