<!--login.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

{{ if .ErrorTitle}}
<article class="message is-danger">
  <div class="message-header">
    <p>{{.ErrorTitle}}</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    {{.ErrorMessage}}
  </div>
</article>
{{end}}
<section class="hero is-fullheight">
  <!--If there's an error, display the error-->
  <div class=" has-text-centered column is-half is-offset-one-quarter">
    <div class="card pl-5 pr-5 pb-5 pu-5">
      <h1 class="is-1 title">Sign Up</h1>
      <form action="/u/register" method="POST">
        <div class="field">
          <div class="control">
            <input pattern="[A-Za-z0-9]*" class="input is-medium is-rounded" name="username" type="text" placeholder="holikon1" required />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="input is-medium is-rounded" name="password" type="password" placeholder="**********"
              required />
          </div>
        </div>
        <br />
        <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
          Register
        </button>
      </form>
      <br>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <a href="/u/login">Login</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}