{{ template "header.html" .}}
{{ if eq .message  ""}}
{{else}}
<div class="notification is-success">
    {{.message}}
</div>
{{end}}
<div class="column is-half  is-offset-one-quarter ">
    <h1 class="title is-1">{{.payload.Name}}
        <span class="tag is-primary is-medium">{{.payload.Km}} km</span>
        {{ if .payload.Withbike }}
        <span class="tag is-info is-medium"><i class="fas fa-bicycle"></i></span>
        {{end}}
    </h1>

    <figure class="image is-4by3">
        <img src="{{.payload.Large}}" alt="Placeholder image">
    </figure>
    <!--Display the title of the article-->

    <!--Display the content of the article-->
    <p class="content block is-medium has-text-justified">{{.payload.Content}}</p>

    {{ if .is_logged_in}}
    <form action="/trip/join/{{.payload.ID}}" method="post">
        <button class="button is-primary" type="submit" name="join" value="+" href="">+</button>
    </form>

    <form action="/trip/disjoin/{{.payload.ID}}" method="post">
        <button class="button" type="submit" name="join" value="-">-</button>
    </form>

    <h1 class="title is-4 mt-4">Attended</h2>
        <div class="tags">
            {{range .payload.Users}}
            <a href="/u/view/{{.ID}}"><span class="tag is-warning is-light is-large mr-2">{{.Username}}</span></a>
            {{end}}
        </div>
        {{end}}

</div>
{{ template "footer.html" .}}