<!--trips.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class="column is-5 is-offset-4">

  {{range .payload }}
  <div class="card mb-4">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{.Small}}" class="lazy" data-src="{{.Medium}}" alt="{{.Name}}">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <a href="/u/view/{{.AuthorID}}">
          <figure class="image is-48x48 ">
            <img class="is-rounded" src="https://avatars.dicebear.com/4.5/api/avataaars/{{.Avatar}}.svg"
              alt="Placeholder image">
          </figure>
          </a>
        </div>
        <div class="media-content">
          <a class="subtitle is-5 is-link mt-6 is-family-monospace" href="/u/view/{{.AuthorID}}">@{{.Username}}</a>
        </div>
      </div>

      <div class="content">
        <p><a href="/trip/view/{{.ID}}" class="title is-4">{{.Name}}</a>
          <span class="tag is-primary">{{.Km}} km</span>
          {{if .Withbike}}
          <span class="tag is-info is-normal is-rounded ml-1"><i class="fas fa-bicycle"></i></span>
          {{end}}
        </p>
        <p style="text-overflow: ellipsis;
                  overflow: hidden; 
                  height: 1.6em; 
                  white-space: nowrap;">
          {{.Content}}
        </p>
        <span class="tag is-primary is-light is-small"><i class="fas fa-calendar"></i><time class="ml-1"
            datetime="{{.Year}}-{{.Month}}-{{.Day}}">{{.Day}}. {{.Month}}. {{.Year}}</time></span>
        <span class="tag is-primary is-light is-small"><i class="fas fa-clock"></i><time
            class="ml-1">{{printf "%02d" .Hour }}:{{printf "%02d" .Minute }}</time></span>

        {{ if gt .HeartCount 0}}
        <span class="tag is-primary is-light is-small"><i class="fas fa-heart mr-1"></i>
          {{.HeartCount}}
        </span>
        {{end}}

        {{ if gt .CommentsCount 0}}
        <span class="tag is-primary is-light is-small"><i class="fas fa-comment-alt mr-1"></i>
          {{.CommentsCount}}
        </span>
        {{end}}
      </div>
    </div>
  </div>
  {{end}}
</div>

{{ template "footer.html" .}}