{{ template "header.html" .}}
{{ if eq .message ""}}
{{else}}
<div class="notification is-success">
    {{.message}}
</div>
{{end}}
<div class="column is-half  is-offset-one-quarter ">
    <h1 class="title is-1">{{.payload.Name}}
        <span class="tag is-primary is-medium">{{.payload.Km}} km</span>
        {{ if .payload.Withbike }}
        <span class="tag is-info is-medium"><i class="fas fa-bicycle"></i></span>
        {{end}}
    </h1>

    <figure class="image is-4by3">
        <img src="{{.payload.Large}}" alt="Placeholder image">
    </figure>
    <div class="level has-text-centered">
        <div class="level-item has-text-centered">
            <div class="level-item has-text-centered">
                <span class="tag is-primary is-light is-large">
                    <i class="fas fa-calendar"></i>
                    <time class="ml-1"
                        datetime="{{.payload.Year}}-{{.payload.Month}}-{{.payload.Day}}">{{.payload.Day}}. {{.payload.Month}}. {{.payload.Year}}</time>
                </span>
            </div>
            <div class="level-item has-text-centered ml-3">
                <span class="level-item tag  is-primary is-light is-large">
                    <i class="fas fa-clock"></i>
                    <time class="ml-1">{{printf "%02d" .payload.Hour }}:{{printf "%02d" .payload.Minute }}</time>
                </span>
            </div>
        </div>
    </div>
    <h1 class="title is-4 mt-4">Content</h1>
    <p class="content block is-medium has-text-justified">{{.payload.Content}}</p>

    <h1 class="title is-4 mt-4">Attended</h1>
    <div class="tags">
        {{range .payload.Users}}
        <a href="/u/view/{{.ID}}"><span class="tag is-warning is-light is-large mr-2">{{.Username}}</span></a>
        {{end}}
    </div>

    {{ if .is_logged_in}}
    {{if not .isjoined}}
    <form action="/trip/join/{{.payload.ID}}" method="post">
        <button class="button is-success" type="submit" name="join" value="Join" href="">Join</button>
    </form>
    {{else}}
    <form action="/trip/disjoin/{{.payload.ID}}" method="post">
        <button class="button is-danger" type="submit" name="join" value="DisJoin">DisJoin</button>
    </form>
    {{end}}
    {{end}}


</div>
{{ template "footer.html" .}}