{{ template "header.html" .}}

<div class="column is-half  is-offset-one-quarter has-text-centered">
    <div class="level">
        <div class="level-item">
            <figure class="image is-128x128 ">
                <img class="is-rounded" src="https://avatars.dicebear.com/4.5/api/avataaars/{{.payload.Username}}111111.svg"
                    alt="profile picture">
            </figure>
        </div>
    </div>
    {{if ge .payload.Km 100.0 }}
    <progress class="progress is-success" value="{{.payload.Km}}" max="100">{{.payload.Km}}%</progress>
    {{else}}
    <progress class="progress is-info" value="{{.payload.Km}}" max="100">{{.payload.Km}}%</progress>
    {{end}}
    <h1 class="title is-1 is-family-monospace">{{.payload.Username}}</h1>

    <!--
    <h1 class="title is-4 mt-4">Achievments</h1>
    <div class="tags">
        <a href=""><span class="tag is-warning is-light is-large mr-2">A1</span></a>
        <a href=""><span class="tag is-warning is-light is-large mr-2">A2</span></a>
        <a href=""><span class="tag is-warning is-light is-large mr-2">A3</span></a>
    </div>
-->
    <h1 class="title is-4 mt-4">Statistics</h1>
    <table class='table is-striped is-fullwidth'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Km sum</td>
                <td>{{ printf "%.2f" .payload.Km}}</td>
            </tr>
            <tr>
                <td>Bike km</td>
                <td>{{ printf "%.2f" .payload.Kmbike}}</td>
            </tr>
            <tr>
                <td>Walk km</td>
                <td>{{ printf "%.2f" .payload.Kmwalk}}</td>
            </tr>
            <tr>
                <td>AVG KM on Trip</td>
                <td>{{ printf "%.2f" .payload.AvgKm}}</td>
            </tr>
        </tbody>
    </table>




    <h1 class="title is-4 mt-4">Trips</h1>
    {{ range .payload.Trips}}
    <div class="box column">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded" src="{{.Tiny}}" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                   <div class="level">
            <div class="level-left">
              <span class="tag is-primary is-normal is-rounded ml-1">{{.Km}} km</span>
              {{if .Withbike}}
              <span class="tag is-info is-normal is-rounded ml-1"><i class="fas fa-bicycle"></i></span>
              {{end}}
              <a href="/trip/view/{{.ID}}"><strong class="title is-5 ml-1">{{.Name}}</strong></a>
            </div>
          </div> 
                </div>
            </div>
        </article>
    </div>
    {{end}}
</div>
{{ template "footer.html" .}}