{{ template "header.html" .}}

<div class="column is-half  is-offset-one-quarter has-text-centered">
    <div class="level">
        <div class="level-item">
            <figure class="image is-128x128 ">
                <img class="is-rounded" src="https://avatars.dicebear.com/4.5/api/avataaars/{{.payload.Avatar}}.svg"
                    alt="profile picture">
            </figure>
        </div>
    </div>
    <div class="block">
        <div class="level">
            <div class="level-item ">
            </div>
            <div class="level-item ">
                {{if ge .payload.Achievments.Score 1}}
                <i class="fas fa-star has-text-warning"></i>
                {{else}}
                <i class="fas fa-star "></i>
                {{end}}

                {{if ge .payload.Achievments.Score 2}}
                <i class="fas fa-star has-text-warning"></i>
                {{else}}
                <i class="fas fa-star"></i>
                {{end}}

                
                {{if ge .payload.Achievments.Score 3}}
                <i class="fas fa-star has-text-warning"></i>
                {{else}}
                <i class="fas fa-star"></i>
                {{end}}
            </div>
            <div class="level-item ">
            </div>
        </div>
    </div>
    {{if ge .payload.Km 100.0 }}
    {{if ge .payload.Km 200.0 }}
    <progress class="progress is-warning" value="{{.payload.Km}}" max="300">{{.payload.Km}}%</progress>
    {{else}}
    <progress class="progress is-success" value="{{.payload.Km}}" max="200">{{.payload.Km}}%</progress>
    {{end}}
    {{else}}
    <progress class="progress is-info" value="{{.payload.Km}}" max="100">{{.payload.Km}}%</progress>
    {{end}}
    <h1 class="title is-1 is-family-monospace">{{.payload.Username}}</h1>


    <h1 class="title is-4 mt-4">Achievments</h1>
    <nav class="level">
        <div class="level-item has-text-centered">
            {{ if .payload.Achievments.Walker1 }}
            <div class="box has-background-info">
                <p class="title is-4 has-text-primary-light">100km</p>
            </div>
            {{else}}
            <div class="box has-background-dark">
                <p class="title is-4 has-text-grey-dark">100km</p>
            </div>
            {{end}}
        </div>
        <div class="level-item has-text-centered">
            {{ if .payload.Achievments.Walker2 }}
            <div class="box has-background-success">
                <p class="title is-4 has-text-primary-light">200km</p>
            </div>
            {{else}}
            <div class="box has-background-dark">
                <p class="title is-4 has-text-grey-dark">200km</p>
            </div>
            {{end}}
        </div>
        <div class="level-item has-text-centered">
            {{if .payload.Achievments.Walker3}}
            <div class="box has-background-warning">
                <p class="title is-4 has-text-primary-light">300km</p>
            </div>
            {{else}}
            <div class="box has-background-dark">
                <p class="title is-4 has-text-grey-dark">300km</p>
            </div>
            {{end}}
        </div>

    </nav>

    <nav class="level">
        <div class="level-item has-text-centered">
            {{ if .payload.Achievments.Explorer1}}
            <div class="box has-background-info">
                <p class="title is-4 has-text-primary-light">5 villages</p>
            </div>
            {{else}}
            <div class="box has-background-dark">
                <p class="title is-4 has-text-grey-dark">5 villages</p>
            </div>
            {{end}}
        </div>
        <div class="level-item has-text-centered">
            {{ if .payload.Achievments.Explorer2}}
            <div class="box has-background-success">
                <p class="title is-4 has-text-primary-light">10 villages</p>
            </div>
            {{else}}
            <div class="box has-background-dark">
                <p class="title is-4 has-text-grey-dark">10 villages</p>
            </div>
            {{end}}
        </div>
        <div class="level-item has-text-centered">
            {{if .payload.Achievments.Explorer3}}
            <div class="box has-background-warning">
                <p class="title is-4 has-text-primary-light">15 villages</p>
            </div>
            {{else}}
            <div class="box has-background-dark">
                <p class="title is-4 has-text-grey-dark">15 villages</p>
            </div>
            {{end}}
        </div>

    </nav>

    <nav class="level">
        <div class="level-item has-text-centered">
            {{ if .payload.Achievments.Challenger1}}
            <div class="box has-background-info">
                <p class="title is-4 has-text-primary-light">10km in trip</p>
            </div>
            {{else}}
            <div class="box has-background-dark">
                <p class="title is-4 has-text-grey-dark">10km in trip</p>
            </div>
            {{end}}
        </div>
        <div class="level-item has-text-centered">
            {{ if .payload.Achievments.Challenger2}}
            <div class="box has-background-success">
                <p class="title is-4 has-text-primary-light">20km in trip</p>
            </div>
            {{else}}
            <div class="box has-background-dark">
                <p class="title is-4 has-text-grey-dark">20km in trip</p>
            </div>
            {{end}}
        </div>
        <div class="level-item has-text-centered">
            {{if .payload.Achievments.Challenger3}}
            <div class="box has-background-warning">
                <p class="title is-4 has-text-primary-light">30km in trip</p>
            </div>
            {{else}}
            <div class="box has-background-dark">
                <p class="title is-4 has-text-grey-dark">30km in trip</p>
            </div>
            {{end}}
        </div>

    </nav>






    <h1 class="title is-4 mt-4">Statistics</h1>
    <table class='table is-striped is-fullwidth'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Km sum</td>
                <td>{{ printf "%.2f" .payload.Km}}</td>
            </tr>
            <tr>
                <td>Bike km</td>
                <td>{{ printf "%.2f" .payload.Kmbike}}</td>
            </tr>
            <tr>
                <td>Walk km</td>
                <td>{{ printf "%.2f" .payload.Kmwalk}}</td>
            </tr>
            <tr>
                <td>AVG KM on Trip</td>
                <td>{{ printf "%.2f" .payload.AvgKm}}</td>
            </tr>
            <tr>
                <td>Villages count</td>
                <td>{{.payload.VillagesCount}}</td>
            </tr>
            <tr>
                <td>Trip count</td>
                <td>{{.payload.TripCount}}</td>
            </tr>
            <tr>
                <td>Max in one trip</td>
                <td>{{.payload.Maxkm}}</td>
            </tr>
        </tbody>
    </table>






    <h1 class="title is-4 mt-4">Trips</h1>
    {{ range .payload.Trips}}
    <div class="box column">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded" src="{{.Tiny}}" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <div class="level">
                        <div class="level-left">
                            <span class="tag is-primary is-normal is-rounded ml-1">{{.Km}} km</span>
                            {{if .Withbike}}
                            <span class="tag is-info is-normal is-rounded ml-1"><i class="fas fa-bicycle"></i></span>
                            {{end}}
                            <a href="/trip/view/{{.ID}}"><strong class="title is-5 ml-1">{{.Name}}</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    {{end}}
    {{if eq .payload.VillagesCount 0 }}
    {{else}}
    <h1 class="title is-4 mt-4">Villages</h1>
    <div class="columns is-multiline">
        {{range .payload.Villages}}
        <div class="column is-narrow">
            <span class="tag is-info is-light is-large">{{.Village}}</span>
        </div>
        {{end}}
    </div>
    {{end}}
</div>
{{ template "footer.html" .}}